<div id="intro" class="row">
	<div class="section-content">
		<h1 class="display-1">Will Dolbeer</h1>
		<h4>Front End Web Developer</h4>
	</div>
</div>
<div id="about" class="row">
	<div class="section-content col-md-10 offset-md-1">
		<h1 class="display-4">About Me</h1>
		<img class="about-img" src="assets/headshot.jpg"  alt="Headshot" />
		<div class="about-text">
			<p>
				I'm a Software Developer based in Durham, North Carolina, and work for boiler manufacturer Miura America Co., Ltd. 
In addition to my primary focus of front end web development, I also have experience with full stack applications.
I have overseen the development of a variety of projects from planning to production, from robust content management systems to data-driven Angular applications.
While my strengths are in front end development, I am always looking to grow as a developer and learn new languages and technologies.			
			</p>
			<p>
				When I'm not developing, I enjoy spending time with my wife and two daughters, playing adult league soccer, and cycling.
			</p>
		</div>
	</div>
</div>
<div id="experience" class="row">
	<div class="section-content col-md-10 offset-md-1">
		<h1 class="display-4">Experience</h1>
		<h2>Education</h2>
		<div class="experience-item">
			<h3 class="title">Bachelor of Science in Computer Science</h3>
			<h4 class="sub-title">Mars Hill College</h4>
			<strong>2003 - 2007</strong>
		</div>
		<h2>Professional</h2>
		<div class="experience-item">
			<h3 class="title">Software Developer</h3>
			<h4 class="sub-title">Miura America Co., Ltd.</h4>
			<strong>2013 - Present</strong>
			<p class="description">
				Miura is a manufacturer of commercial boilers known for their efficiency, small footprint, and modular design. In this role, I have developed the corporate website, including a complete redesign in 2016, and intranet site using content management systems. I support several of Miura's departments by developing and maintaining web applications for internal use. 
			</p>
		</div>
		<h2>What I Use</h2>
		<div class="card-container">
			<div class="card-cell">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title">
							<img src="assets/ic_code_white.png" alt="Code icon" />
							Angular Applications
						</h3>
						<p class="card-text">
							Usually combined with Bootstrap and Firebase, Angular has been my primary framework for web development, using versions 1.x and 4/5 with TypeScript. 
						</p>
					</div>
				</div>
			</div>
			<div class="card-cell">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title">
							<img src="assets/ic_web_white.png"  alt="Web icon" />
							CMS Frameworks
						</h3>
						<p class="card-text">
							For projects that require quick and easy management, I've developed sites using Drupal, Joomla, and Wordpress, including custom PHP components and plugins.
						</p>
					</div>
				</div>
			</div>
			<div class="card-cell">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title">
							<img src="assets/ic_devices_white.png"  alt="Devices icon" />
							Responsive Design
						</h3>
						<p class="card-text">
							Regardless of the language or framework used, I develop applications that adapt to devices of all sizes and function properly in all browsers. 
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="skills" class="row">
	<div class="section-content col-md-10 offset-md-1">
		<h1 class="display-4">Skills</h1>
		<ul class="skills-list">
			<li class="skills-item">JavaScript</li>
			<li class="skills-item">HTML</li>
			<li class="skills-item">CSS</li>
			<li class="skills-item">PHP</li>
			<li class="skills-item">AngularJS</li>
			<li class="skills-item">Bootstrap</li>
			<li class="skills-item">jQuery</li>
			<li class="skills-item">Firebase</li>
			<li class="skills-item">Joomla</li>
			<li class="skills-item">Drupal</li>
			<li class="skills-item">SQL</li>
			<li class="skills-item">Angular</li>
			<li class="skills-item">TypeScript</li>
			<li class="skills-item">Sass</li>
			<li class="skills-item">Git</li>
			<li class="skills-item">Wordpress</li>
			<li class="skills-item">Cordova</li>
			<li class="skills-item">Java</li>
		</ul>
	</div>
</div>
<div id="contact" class="row">
	<div class="section-content">
		<div class="contact-links">
			<a href="mailto:will.dolbeer@gmail.com" target="blank" class="contact-item" title="Email">
				<img src="assets/ic_mail_white.png"  alt="Mail icon" />
			</a>
			<a href="https://www.linkedin.com/in/willdolbeer/" target="blank" class="contact-item" title="LinkedIn">
				<img src="assets/linkedin.png"  alt="LinkedIn icon" />
			</a>
		</div>
		<div class="copyright">&copy; Will Dolbeer 2018</div>
	</div>
</div>
