<div id="intro" class="row">
	<div class="section-content">
		<h1 class="display-1">Will Dolbeer</h1>
		<h4>Front End Web Developer</h4>
	</div>
</div>
<div id="about" class="row">
	<div class="section-content col-md-10 offset-md-1">
		<h1 class="display-4">About Me</h1>
		<img class="about-img" src="assets/headshot.jpg"  alt="Headshot" />
		<div class="about-text">
			<p>
				I'm a Web Developer based in Rome, Georgia, and currently working for Vanderbilt University Medical Center.
        In addition to my primary focus of front end web development, I also have experience on the backend as well as
        databases and devops. I have overseen a variety of projects from planning to production, including complex
        public-facing research tools, smaller applications for internal us and robust content management systems. While
        my strengths are on the front end, I am always looking to grow as a developer and learn new languages and
        technologies.
			</p>
			<p>
				When I'm not working, I enjoy spending time with my wife and four children, playing soccer, video games and
        cycling.
			</p>
		</div>
	</div>
</div>
<div id="experience" class="row">
	<div class="section-content col-md-10 offset-md-1">
		<h1 class="display-4">Experience</h1>
		<h2>Professional</h2>
		<div class="experience-item">
			<h3 class="title">Senior Application Developer</h3>
			<h4 class="sub-title">Vanderbilt University Medical Center</h4>
			<strong>2018 - Present</strong>
			<p class="description">
				I'm currently the lead frontend developer for the Data Apps team on the
        <a href="https://github.com/all-of-us/workbench" target="_blank">
          Researcher Workbench
        </a> project, part of the NIH <a href="https://allofus.nih.gov/" target="_blank">
          <i>All of Us</i> Research Program
        </a>. I have spearheaded numerous features from design and requirements gathering to successful implementation,
        adding critical functionality and greatly improving the user experience. Whenever possible, I'll also contribute
        in other areas of the project, including backend (Java), database (MySQL, BigQuery) and devops (CircleCI, GCP,
        GitHub actions).
			</p>
		</div>
		<div class="experience-item">
			<h3 class="title">Software Developer</h3>
			<h4 class="sub-title">Miura America Co., Ltd.</h4>
			<strong>2013 - 2018</strong>
			<p class="description">
				As the first developer employed by Miura, I started by taking over maintenance of the corporate website, which
        had been outsourced. I would later build the redesigned site, convert all paper forms used by boiler technicians
        into web-based forms and develop multiple Angular applications for internal company use.
      </p>
		</div>
    <h2>Education</h2>
    <div class="experience-item">
      <h3 class="title">Bachelor of Science in Computer Science</h3>
      <h4 class="sub-title">Mars Hill College</h4>
      <strong>2003 - 2007</strong>
    </div>
	</div>
</div>
<div id="skills" class="row">
	<div class="section-content col-md-10 offset-md-1">
		<h1 class="display-4">Skills</h1>
		<ul class="skills-list">
			<li class="skills-item">JavaScript</li>
      <li class="skills-item">TypeScript</li>
      <li class="skills-item">React</li>
      <li class="skills-item">HTML</li>
      <li class="skills-item">CSS</li>
      <li class="skills-item">Angular</li>
      <li class="skills-item">Java</li>
      <li class="skills-item">MySQL</li>
      <li class="skills-item">BigQuery</li>
      <li class="skills-item">OpenAPI</li>
      <li class="skills-item">Git</li>
      <li class="skills-item">GitHub Actions</li>
      <li class="skills-item">AppEngine</li>
      <li class="skills-item">CircleCI</li>
      <li class="skills-item">jQuery</li>
      <li class="skills-item">PHP</li>
      <li class="skills-item">Firebase</li>
      <li class="skills-item">Ruby</li>
      <li class="skills-item">Wordpress</li>
      <li class="skills-item">Drupal</li>
      <li class="skills-item">Joomla</li>
		</ul>
	</div>
</div>
<div id="contact" class="row">
	<div class="section-content">
		<div class="contact-links">
			<a href="mailto:will.dolbeer@gmail.com" target="blank" class="contact-item" title="Email">
				<img src="assets/ic_mail_white.png"  alt="Mail icon" />
			</a>
			<a href="https://www.linkedin.com/in/willdolbeer/" target="blank" class="contact-item" title="LinkedIn">
				<img src="assets/linkedin.png"  alt="LinkedIn icon" />
			</a>
		</div>
		<div class="copyright">&copy; Will Dolbeer 2024</div>
	</div>
</div>
